* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono' ,monospace;
}

#canv {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.contenedor {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido {
    width: 95%;
    height: 95%;
    padding: 10px;
    /* position: relative; */
    border: 2px solid white;
}

.caja-header {
    border: 2px solid orange;
    display: block;
}

header {
    width: 55%;
    height: 100px;
    display: flex;
    align-items: center;
    border: 2px solid cyan;
    
}

header img {
    display: flex;
    height: 100px;
}

header img:hover {
    transform: scale(0.9);
}

.titulo {
    /* vw (viewport width) instead of px */
    font-size: 3.0vw;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgb(0, 201, 0);
    margin-left: 50px;
    color: #f9f9f9;
}

main {
    width: 100%;
    height: 82%;
    display: flex;
    align-items: center;
    border: 3px solid rgb(161, 201, 1);
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}
.section-encriptyon, .section-mostrar{
    width: 49%;
    height: 90%;
    margin: 0 auto;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}

.caja-texto1, .caja-texto2{
    width: 100%;
    display: grid;
    place-items: center;
    margin: 5px 0 5px 0;
}

.caja-texto1 div:first-child, .caja-texto2 div:first-child{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    margin-bottom: 2px;
    border: 2px solid red;
}

.caja-texto1 div label {
    margin-left: 6px;
    font-size: 15px;
    font-weight: bold;
    color: #f9f9f9;
    text-shadow: 0px 1px 2px rgb(0, 255, 0);
}

.caja-texto1 textarea {
    padding: 2px 5px;
    width: 95%;
}

.caja-texto1 textarea::placeholder {
    background-image: url('/img/aviso2.png');
    background-repeat: no-repeat;
    background-position: 10px 4.5px;
    background-size: 16px;
    padding-left: 30px;
    font-size: 18px;
}

.caja-botones, .caja-boton {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid yellow;
    box-sizing: border-box;
}

.caja-botones .botones {
    margin: 0 auto;
}

.caja-texto2 div label {
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    color: #f9f9f9;
    text-shadow: 0px 1px 2px rgb(0, 255, 0);
}

.caja-texto2 textarea {
    padding: 2px 5px;
    width: 80%;
}

.area-texto {
    height: 400px;
    resize: none;
    background-color: rgba(46, 46, 46, 0.342);
    border-radius: 10px;
    color: #f9f9f9;
    border: none;
    font-weight: 300;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 255, 0);
    box-sizing: border-box;
}

.area-texto:focus {
    outline: 3px groove rgb(0, 255, 0);
    outline-offset: 2px;
    transition: outline-color 0.1s ease-in-out, outline-offset 0.3s ease-in-out;
}

.botones {
    border: 0;
    background-image: linear-gradient(150deg,
            rgb(0, 255, 0) 20%,
            rgb(0, 252, 113),
            rgb(3, 179, 185));
    border-radius: 3px;
    display: flex;
    color: black;
    font-size: 18px;
    font-weight: 550;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}

.botones span {
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 8px 20px;
}

.botones:hover span {
    background: none;
    text-shadow: 2px 1px 2px rgba(255, 255, 255, 0.89);
}

.botones:active {
    transform: scale(0.75);
}

#boton-copiar {
    color: #f9f9f9;
}

#boton-copiar span {
    background-color: black;
}

#boton-copiar:hover span {
    background: none;
    text-shadow: 2px 1px 2px black;
}

.textoAlert {
    font-size: 20px;
    color: white;
    text-shadow: 0px 1px 2px darkgrey;
}

.swal2-icon {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.386);
    /* Cambia los valores según tus preferencias */
}